# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

.DS_Store
.idea
*.dat
MNIST_data
mnist_model
mnist_summary

tensorflow/saver_sample
